/proyectos/TipodeDatoMatriz/nbproject/private/
/TipodeDatoMatriz/nbproject/private/
/TipodeDatoMatriz/build/
/proyectos/ProyectoSodoku David Melo/nbproject/private/
/proyectos/BancoEjemplo1/nbproject/private/
/proyectos/main/nbproject/private/
/proyectos/clases/nbproject/private/
/proyectos/clases/build/
/proyectos/clases/dist/